@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PLPointTrackingSystem.Models.PLM.MeetListViewModel

<h2>SCORE A MEET?</h2>

<h2>VIEW MEET RESULTS</h2>