@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PLPointTrackingSystem.Models.PLM.MeetInfoFormViewModel
    <link rel="stylesheet" href="~/css/stylesheet.css" />

    <div id="meetInfoForm">
        <form asp-controller="PLM" asp-action="StoreMeetInfo" method="post">

            <div>
                <label asp-for="MeetName">Meet Name: </label>
                <input asp-for="MeetName" />
            </div>

            <br />

            <div>
                <label asp-for="MeetType">Type of Meet</label>
                <select asp-for="MeetType">
                    <option>Local</option>
                    <option>State</option>
                    <option>Regional</option>
                    <option>National</option>
                    <option>World</option>

                </select>
            </div>
            <br />
            <div>

                <label asp-for="MeetFed">Federation: </label>
                <input asp-for="MeetFed" />

            </div>

            <br />

            <div>

                <label asp-for="MeetDate">Meet Date: </label>
                <input asp-for="MeetDate" />

            </div>

            <br />

            <div>

                <label asp-for="MeetCity">Meet City: </label>
                <input asp-for="MeetCity" />

            </div>

            <br />

            <div>

                <label asp-for="MeetState">Meet State: </label>
                <input asp-for="MeetState" />

            </div>

            <br />

            <div>

                <label asp-for="MeetVenue">Meet Venue: </label>
                <input asp-for="MeetVenue" />

            </div>

            <div>

                <label asp-for="MeetZip">Zip Code: </label>
                <input asp-for="MeetZip" />

            </div>

            <button class="btn btn-dark">ADD/UPDATE INFO</button>

        </form>
    </div>