@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PLPointTrackingSystem.Models.PLM.MeetListViewModel
    <link rel="stylesheet" href="~/css/stylesheet.css" />


    <div id="scoreMeet">
        <h2>SCORE A MEET?</h2>

        <a asp-action="MeetInfoForm" asp-controller="PLM">link to add a new meet to score</a>

        @if(@Model.MembersMeets.Count != 0) {
     
            @foreach (var meet in Model.MembersMeets)
            {
                <a asp-route-id="@meet.MeetID" asp-action="ScoreMeet" asp-controller="PLM">@meet.MeetName</a>
                <br />
            }
    
            <p>meets that are not completed (fully scored) go here</p>

            <h2>VIEW MEET RESULTS</h2>
        } else
        {
            <h3>YOU HAVE NOT STARTED SCORING FOR ANY MEETS</h3>
        }

    </div>