

/*To update the below, you must remove the "bg-light" class and "text-dark" class from the following:
    nav element and within the a element that's within the li element. 
    These classes have the !important attribute which make it so you can't change the background of the header
*/


/*updates background color of nav bar*/
nav{
    background-color: darkgoldenrod !important;
}

/*updates the fontcolor for title of site in the navigation menu*/
.navbar-brand {
    color: black !important;
}

/*updates the fontcolor for the other items in the navigation menu*/
.nav-link{
    color: black !important;
}

.welcome{
    color: gold;
}

.identity{
    padding: 10px;
    border-radius: 5px;
    background-color: lightyellow;
}
