@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ...[Name to be decided]</h1>
    <p>One stop shop for scoring meets and viewing rankings</p>
</div>
