@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 welcome">Welcome to [Name Undecided]</h1>
    <p class="welcome">One stop shop for scoring meets and viewing rankings</p>
</div>
