@{
    ViewData["Title"] = "Home Page";
}

@model PLPointTrackingSystem.Models.Home.IndexViewModel

<div class="text-center">
    <h1 class="display-4 welcome">Welcome to [Name Undecided]</h1>
    <p class="welcome">One stop shop for scoring meets and viewing USAPL rankings</p>
</div>
